.rightbarFriend{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  }
  .rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
  }
  .rightbarProfileImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  .rightbarOnline{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: lawngreen;
    position: absolute;
    top: -2;
    right: 0;
    border: 2px solid white;
  }
    .rightbarUserName{
      font-weight: 500;
    }